
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300&family=Monoton&display=swap');

.register-card {
    box-shadow: none;
}

.info-card {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #0549d5;
}

.card {
    border-radius: 0px;
    box-shadow: 2px 9px 27px -3px rgba(0,0,0,0.75);
}

.card-logo {
    color: #0549d5;
}

.card-main {
    padding: 10px;
}

.login {
    font-size: 18px;
    font-weight: 600;
}



.bmsit {
    font-family: 'Monoton', cursive;
    font-size: 30px;
    user-select: none;
}

.epay {
    font-family: 'Codystar', cursive;
    font-size: 35px;
    font-weight: 600;
    user-select: none;
}

.card-content {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.box-input {
    padding: 5px;
    width: 100%;
}

.margin-bg {
    margin-top: -100vh;
}

.page-header-background {
    filter: blur(8px);
    background-size: cover;
    background-position: top center;
}
